* {
  box-sizing: border-box;
}

body {
  color: #222;
  background: #d1d1d1;
  margin: 0;
  font-family: "Microsoft JhengHei", "PingFang TC", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: 2px
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}