.header {
  width: 100%;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1310px;
    margin: 0 auto;
    height: 80px;
    padding-inline: clamp(20px, 2vw, 50px);
    background: #975a3c;
    color: #fff;
  }

  .logo {
    font-size: 30px;
    font-weight: 600;
  }

  .rightBox {
    display: flex;
    gap: 20px;

    .line{
      width: 30px;
      height: 8px;
      background-color: #fff;
    }
    &.is-open {
      opacity: 1;
      background: #9b9b9b;
    }
  }
}