/* .outerWrap{
  width: 100%;
} */
.hero {
  // height: 700px;
  color: #ffffff;

  .hero-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 62.63% 37.37%;
    // max-width: 1380px;
  }

  .titleBox {

    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: 100px;

    background-image: url(../images/banner-top.png);
    background-size: cover;
    background-repeat: no-repeat;


    .titleBox-inner {
      max-width: 340px;
      margin-right: 80px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 10px;
    }

    .title {
      font-size: 60px;
      font-weight: 700;
      font-family: "Raleway", sans-serif;
    }

    .subtitle {
      font-size: 30px;
      font-weight: 700;
      font-family: inherit;
    }

    .text {
      font-family: inherit;
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
    }
  }

  .carousel {
    grid-area: 2 / 1 / 3 / 4;
    position: relative;
    background-color: #975a3c;

    display: flex;
    justify-content: flex-end;

    .carousel-inner {
      width: 400px;
      // height: 100%;
    }

    .swiper {
      width: 100%;
      height: 100%;
      // border: 1px solid;
      position: relative;

    }

    .card {
      .number {
        position: absolute;
        top: 0;
        right: 120px;
        font-size: 100px;
        color: rgba(255, 255, 255, 0.1);
        z-index: 0;
      }

      .img {
        position: absolute;
        z-index: 1;

        img {
          object-fit: cover;

          height: 300px;
          width: 300px;

        }
      }

      .text {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 200px;

        z-index: 1;
        gap: 12px;

        .title {
          font-size: 22px;
          font-weight: bolder;
        }

        .subtitle {
          font-size: 14px;
          font-weight: bold;

          &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: #fff;
            display: block;
            margin: 15px 0;
          }
        }

        .model {
          margin-bottom: 28px;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }

  }

  .bg {
    position: relative;
    grid-area: 1 / 4 / 3 / 9;

    .img {
      img {
        display: block;
        object-fit: cover;
        filter: brightness(0.7);
      }
    }

    .scrollDown {
      position: absolute;
      bottom: 0px;
      left: 65%;
      width: 120px;
      cursor: pointer;
      z-index: 2;

      // border: 1px solid;
      .text {
        display: block;
        margin-bottom: 13px;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 0.5px;
        text-align: center;
        font-family: "Raleway", sans-serif;
      }

      .line {
        position: absolute;

        bottom: 0px;
        right: 0;
        height: 6px;
        background: rgba(245, 208, 159, 0.6);
        width: 120px;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 6px;
          width: 100%;
          background: #f5d09f;
          // transform: translateX(50%);
          animation: lineAni 2.5s linear infinite;
        }

        @keyframes lineAni {
          0% {
            width: 0;

          }

          50% {
            width: 100%;
            transform: translateX(0%);
          }

          100% {
            transform: translateX(100%);
          }

        }
      }
    }

    .swiper-buttons {

      position: absolute;
      left:  0;
      bottom: 0px;
      width: 120px;
      height: 240px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      border: 1px solid  red;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: block;

      width: 120px;
      height: 120px;
      background-color: #282828;
      margin: 0;
      // border: 1px solid;
    }
  }
}

.aboutBox {
  padding-block: 95px;
  background-color: #ffe7c8;

  .about-inner {
    padding-inline: clamp(20px, 3vw, 35px);
    max-width: 1380px;
    margin: 0 auto;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #ccc;
      padding-bottom: 45px;
      margin-bottom: 45px;

      .titleBox {
        color: #975a3c;
        font-weight: bolder;

        .title {
          font-size: 52px;
          margin: 0;
          font-weight: 700;
          font-family: "Inter", sans-serif;
          letter-spacing: 1px;
        }

        .subtitle {
          font-size: 28px;
          font-weight: 700;
          margin: 0;
          font-family: "Raleway", sans-serif;

        }


      }

      .btnAbout {
        position: relative;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 900;

        &::after {
          content: "";
          width: 16px;
          height: 10px;
          right: 0;
          top: 0;
          background: url(/assets/images/arrow_btn.png);
          filter: brightness(0);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 250px;

      .titleBox {
        flex: 1;
        font-weight: 900;

        .subtitle {
          font-size: 32px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 20px;
          color: #975a3c;
          line-height: 1.2;
        }

        .title {
          font-size: 20px;
          font-weight: bold;
          font-family: "Raleway", sans-serif;
        }
      }

      .textBox {
        flex: 1;
        font-weight: 500;
        line-height: 1.6;

        .textTw {
          font-size: 16px;
        }

        .textEN {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }

  }

}

.showCase {
  padding-block: 100px;
  background: #fffaf3;

  .showCase-inner {
    max-width: 1380px;
    margin: 0 auto;
    padding-inline: clamp(20px, 3vw, 30px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .intro {
    grid-area: 1 / 1 / 2 / 3;

    padding-right: 150px;
    color: #975a3c;
    border-right: 1px solid rgba(51, 51, 51, 0.4);
    border-bottom: 1px solid rgba(51, 51, 51, 0.4);

    .titleBox {
      margin-bottom: 10px;

      .subtitle {
        font-size: 26px;
        font-weight: bold;
        font-family: "Inter", sans-serif;
      }

      .title {
        margin: 0;
        font-size: 28px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }

      .text {
        font-size: 16px;
        margin-top: 20px;
        color: #3c3c3c;
        letter-spacing: 0.5px;
      }
    }

    .tel {
      font-size: 26px;
      font-weight: bolder;
      font-family: "Inter", sans-serif;
    }

    .btnArea {
      margin-top: 30px;
      display: flex;
      gap: 10px;


      .btn {
        cursor: pointer;

        a {
          position: relative;
          display: flex;
          align-items: center;

          padding: 10px 50px 10px 30px;
          background: #282828;
          color: #ffffff;
          font-size: 13px;
          font-weight: 900;
          min-width: 240px;
          height: 50px;

          z-index: 1;
          overflow: hidden;

          &::before {
            position: absolute;
            content: "";
            background-color: #975a3c;
            left: 0;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform: translateX(-100%);
            transition: transform 0.6s ease;
          }

          &::after {
            content: "";
            position: absolute;
            background-image: url(/assets/images/arrow_btn.png);
            background-repeat: no-repeat;
            top: calc(50% - 5px);
            right: 30px;
            width: 16px;
            height: 10px;
            transition: transform 0.6s ease;
          }
        }

        &:hover {
          a::before {
            transform: translateX(0%);
          }

          a::after {
            transform: translateX(10px);
          }
        }
      }
    }
  }

  .productBig,
  .product {
    figure {
      margin: 16px;
    }

    .card {
      position: relative;
      cursor: pointer;

      .img {
        padding: 16px;

        img {
          object-fit: cover;
        }
      }

      .txt {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 28px;

        .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 6px;
          font-family: 'Noto Sans TC';
          font-weight: 100 900;
          transition: color 0.8s ease;

          a {

            letter-spacing: 1px;
          }
        }

        .subtitle {
          font-size: 13px;
          font-family: "Raleway", sans-serif;
          font-weight: bold;
        }

        em {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 20px;
          font-size: 13px;
          font-family: 'Noto Sans TC';
        }
      }

      &:hover {
        .img {
          // transform: rotate(10deg);
          animation: shockAni 0.6s ease-in-out infinite;
        }

        .title {
          color: #975a3c;
        }
      }
    }

    @keyframes shockAni {
      0% {
        transform: rotate(0deg);
      }

      20% {
        transform: rotate(10deg);
      }

      40% {
        transform: rotate(-10deg);
      }

      60% {
        transform: rotate(10deg);
      }

      80% {
        transform: rotate(-10deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
  }

  .productBig {
    grid-area: 2 / 1 / 4 / 3;
    border-right: 1px solid rgba(51, 51, 51, 0.4);
  }

  .product {
    grid-area: 1/ 3 / 4 / 5;

    .product-inner {
      display: flex;
      flex-wrap: wrap;

      .card {
        flex: 0 0 50%;
      }

      .card:nth-child(4n + 1),
      .card:nth-child(4n + 4) {
        background-color: #fff1df;
      }
    }
  }
}

.advantage {
  padding-block: 80px 35px;
  color: #ffffff;
  background-color: #975a3c;

  .advantage-inner {
    max-width: 1380px;
    margin: 0 auto;
    padding-inline: clamp(20px, 3vw, 35px);

    display: flex;

  }

  .titleBox {
    flex: 0 0 50%;
    padding-right: 50px;

    .title {
      font-family: "Inter", sans-serif;
      font-size: 52px;
    }

    .subtitle {
      margin: 0;
      font-family: "Raleway", sans-serif;
      font-size: 28px;

    }

    .text {
      line-height: 1.6;
      letter-spacing: 0.8px;
      position: relative;
      margin-top: 20px;
      padding-top: 30px;
      padding-right: 120px;

      &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 60px;
        height: 1px;
        top: 0;
        left: 0;
      }
    }
  }

  .dataBOx {
    flex: 0 0 50%;
    display: flex;
    gap: 20px;
    margin-left: 100px;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;

      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 3px solid #ffe7c8;
        width: 150px;
        height: 150px;
        aspect-ratio: 1/1;

        margin: 0px;
        transform: translateY(0px);
        transition: transform 0.5s ease-in-out;

        img {
          display: block;

          padding: 40px;
          object-fit: cover;
        }

        .circle {
          position: absolute;
          width: 26px;
          height: 26px;
          border: 3px solid #ffe7c8;
          bottom: -13.5px;
          border-radius: 50%;
          background-color: #975a3c;
          display: flex;
          justify-content: center;
          align-items: center;

          &::after {
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            background-color: #ffe7c8;
            border-radius: 50%;
          }
        }
      }

      .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        // text-align: center;
        gap: 5px;
        padding-block: 20px;
        color: #ffe7c8;

        &::before {
          content: "";
          display: block;
          width: 2px;
          height: 27px;

          background-image: url(/assets/images/dotted_line.png);
          background-repeat: no-repeat;
          background-size: cover;
        }

        .title {
          margin-top: 5px;
          font-family: "Inter", sans-serif;
        }

        .textEditor {
          font-size: 13px;
          font-weight: 500;
          font-family: "Raleway", sans-serif;
        }
      }

      &:hover {

        //  transform: translateY(-20px);
        .img {
          transform: translateY(-20px);
        }

        .img .circle::after {
          animation: circleAni 1s ease-in-out infinite;
        }
      }

      @keyframes circleAni {
        from {
          opacity: 1;
          transform: scale(1);
        }

        to {
          opacity: 0;
          transform: scale(5);
        }
      }
    }
  }
}