/* .outerWrap{
  width: 100%;
} */
.hero {
  // height: 700px;
  color: #ffffff;

  .hero-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 62.63% 37.37%;
    // max-width: 1380px;
  }

  .titleBox {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    // align-items: center;
    // justify-content: flex-end;

    padding-top: 100px;
    padding-left: 50px;
    background-image: url(../images/banner-top.png);
    background-size: cover;
    background-repeat: no-repeat;

    .titleBox-inner {
      max-width: 255px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .subtitle {
      font-size: 15px;
      font-weight: 600;
    }

    .title {
      margin-top: 4px;
      font-size: 45px;
      font-weight: 900;
    }

    .text {
      font-size: 24px;
      font-weight: 900;
    }
  }

  .carousel {
    grid-area: 2 / 1 / 3 / 4;
    position: relative;
    background-color: #975a3c;

    display: flex;
    justify-content: flex-end;

    img {
      object-fit: cover;
      border: 1px solid;
      height: 200px;
      width: 200px;
    }

    .text {
      width: 200px;
      height: 200px;
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      gap: 12px;

      .title {
        font-size: 22px;
        font-weight: bolder;
      }
      .subtitle {
        font-size: 14px;
        font-weight: bold;

        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: #fff;
          display: block;
          margin: 15px 0;
        }
      }

      .model {
        margin-bottom: 28px;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }

  .bg {

    grid-area: 1 / 4 / 3 / 9;

    .img {
      img {
        display: block;
        object-fit: cover;

      }
    }
  }
}