/* .outerWrap{
  width: 100%;
} */
.hero {
  // height: 700px;
  color: #ffffff;

  .hero-inner {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 62.63% 37.37%;
    // max-width: 1380px;
  }

  .titleBox {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    // align-items: center;
    // justify-content: flex-end;

    padding-top: 100px;
    padding-left: 50px;
    background-image: url(../images/banner-top.png);
    background-size: cover;
    background-repeat: no-repeat;

    .titleBox-inner {
      max-width: 320px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .subtitle {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.8;
    }

    .title {
      margin-top: 4px;
      font-size: 45px;
      font-weight: 900;
    }

    .text {
      font-size: 24px;
      font-weight: 900;
    }
  }

  .carousel {
    grid-area: 2 / 1 / 3 / 4;
    position: relative;
    background-color: #975a3c;

    display: flex;
    justify-content: flex-end;

    img {
      object-fit: cover;

      height: 200px;
      width: 200px;
    }

    .text {
      width: 200px;
      height: 200px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      gap: 12px;

      .title {
        font-size: 22px;
        font-weight: bolder;
      }

      .subtitle {
        font-size: 14px;
        font-weight: bold;

        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: #fff;
          display: block;
          margin: 15px 0;
        }
      }

      .model {
        margin-bottom: 28px;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }

  .bg {
    grid-area: 1 / 4 / 3 / 9;

    .img {
      img {
        display: block;
        object-fit: cover;

      }
    }
  }
}

.aboutBox {
  padding-block: 95px;
  background-color: #ffe7c8;

  .about-inner {
    padding-inline: clamp(20px, 3vw, 35px);

    .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #ccc;
      padding-bottom: 45px;
      margin-bottom: 45px;

      .titleBox {
        color: #975a3c;
        font-weight: bolder;

        .subtitle {
          font-size: 52px;
        }

        .title {
          font-size: 28px;
          margin: 0;
        }
      }

      .btnAbout {
        position: relative;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 900;

        &::after {
          content: "";
          width: 16px;
          height: 10px;
          right: 0;
          top: 0;
          background: url(/assets/images/arrow_btn.png);
          filter: brightness(0);
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      gap: 250px;

      .titleBox {
        flex: 1;
        font-weight: 900;

        .subtitle {
          font-size: 32px;
          text-transform: uppercase;
          margin-bottom: 20px;
          color: #975a3c;
          line-height: 1.2;
        }

        .title {
          font-size: 20px;
        }
      }

      .textBox {
        flex: 1;
        font-weight: 500;
        line-height: 1.6;

        .textTw {
          font-size: 16px;
        }

        .textEN {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }

  }

}

.showCase {
  padding-block: 100px;
  background: #fffaf3;

  .showCase-inner {
    max-width: 1380px;
    margin: 0 auto;
    padding-inline: clamp(20px, 3vw, 30px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .intro {
    grid-area: 1 / 1 / 2 / 3;

    padding-right: 150px;
    color: #975a3c;

    .titleBox {
      margin-bottom: 10px;
      font-size: 26px;

      .title {
        margin: 0;
        font-size: 28px;
      }

      .text {
        font-size: 16px;
        margin-top: 20px;
        color: #3c3c3c;
      }
    }

    .tel {
      font-size: 26px;
    }

    .btnArea {
      margin-top: 30px;
      display: flex;
      gap: 10px;

      .btn {
        cursor: pointer;

        a {
          padding: 10px 50px 10px 30px;
          background: #282828;
          color: #ffffff;
        }
      }
    }
  }

  .productBig {
    grid-area: 2 / 1 / 4 / 3;
    background-color: #c0c0c0;
  }

  .product {
    grid-area: 1/ 3 / 4 / 5;
    
    .product-inner{
      display: flex;
      flex-wrap: wrap;
      .card{
        flex: 0 0 50%;
        border: 1px solid;
      }
    }
  }
}