<div class="footer-inner">
  <div class="top">
    <div class="logo"><a>中証企業有限公司</a></div>
  </div>
  <nav class="footerMenuBox">
    <ul class="footerMenu">
      <li class="menuItem"><span>公司介紹</span></li>
      <li class="menuItem"><span>最新消息</span></li>
      <li class="menuItem"><span>產品項目</span></li>
      <li class="menuItem"><span>品質保證</span></li>
      <li class="menuItem"><span>聯絡我們</span></li>
    </ul>
  </nav>
  <address class="footerInfo">
    <div class="tel">
      <span class="infoTitle">TEL</span>
      <a href="#">02-XXXX-6111</a>
    </div>
    <ul class="infoList">
      <li class="infoItem fax">
        <span class="infoTitle">FAX</span>
        <span>02-XXXX-6108</span>
      </li>
      <li class="infoItem email">
        <span class="infoTitle">E-mail</span>
        <span>chnglass@ms56.hinet.net</span>
      </li>
      <li class="infoItem address">
        <span class="infoTitle">ADDRESS</span>
        <span>新北市鶯歌區中正三路156巷8-1號</span>
      </li>
    </ul>
  </address>

  <div class="copyrightBox">
    <div class="copyright">
      <p>
        <span>Copyright ©</span>
        <span class="year">2026</span>
        <span>中証企業有限公司</span>
        <span>All Rights Reserved.</span>
      </p>
    </div>
    <div class="ibestLink">
      <a href="X" target="_blank">Design</a>
      <span>by</span>
      <a href="X" target="_blank">iBest</a>
    </div>
  </div>
</div>
