/* .outerWrap{
  width: 100%;
} */
.hero {
  color: #ffffff;
}
.hero .hero-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 62.63% 37.37%;
}
.hero .titleBox {
  grid-area: 1/1/2/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 100px;
  background-image: url(../images/banner-top.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .titleBox .titleBox-inner {
  max-width: 340px;
  margin-right: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .titleBox .title {
  font-size: 60px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.hero .titleBox .subtitle {
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
}
.hero .titleBox .text {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
}
.hero .carousel {
  grid-area: 2/1/3/4;
  position: relative;
  background-color: #975a3c;
  display: flex;
  justify-content: flex-end;
}
.hero .carousel .carousel-inner {
  width: 400px;
}
.hero .carousel .number {
  position: absolute;
  top: 0;
  right: 120px;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
}
.hero .carousel .img {
  position: absolute;
  z-index: 1;
}
.hero .carousel .img img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}
.hero .carousel .text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  z-index: 1;
  gap: 12px;
}
.hero .carousel .text .title {
  font-size: 22px;
  font-weight: bolder;
}
.hero .carousel .text .subtitle {
  font-size: 14px;
  font-weight: bold;
}
.hero .carousel .text .subtitle::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 15px 0;
}
.hero .carousel .text .model {
  margin-bottom: 28px;
  font-size: 13px;
  font-weight: bold;
}
.hero .bg {
  position: relative;
  grid-area: 1/4/3/9;
}
.hero .bg .img img {
  display: block;
  object-fit: cover;
  filter: brightness(0.7);
}
.hero .bg .scrollDown {
  position: absolute;
  bottom: 0px;
  left: 65%;
  width: 120px;
  cursor: pointer;
  z-index: 2;
}
.hero .bg .scrollDown .text {
  display: block;
  margin-bottom: 13px;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.hero .bg .scrollDown .line {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 6px;
  background: rgba(245, 208, 159, 0.6);
  width: 120px;
  overflow: hidden;
}
.hero .bg .scrollDown .line:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  width: 100%;
  background: #f5d09f;
  animation: lineAni 2.5s linear infinite;
}
@keyframes lineAni {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.aboutBox {
  padding-block: 95px;
  background-color: #ffe7c8;
}
.aboutBox .about-inner {
  padding-inline: clamp(20px, 3vw, 35px);
  max-width: 1380px;
  margin: 0 auto;
}
.aboutBox .about-inner .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.aboutBox .about-inner .top .titleBox {
  color: #975a3c;
  font-weight: bolder;
}
.aboutBox .about-inner .top .titleBox .title {
  font-size: 52px;
  margin: 0;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}
.aboutBox .about-inner .top .titleBox .subtitle {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.aboutBox .about-inner .top .btnAbout {
  position: relative;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 900;
}
.aboutBox .about-inner .top .btnAbout::after {
  content: "";
  width: 16px;
  height: 10px;
  right: 0;
  top: 0;
  background: url(/assets/images/arrow_btn.png);
  filter: brightness(0);
}
.aboutBox .about-inner .content {
  display: flex;
  justify-content: space-between;
  gap: 250px;
}
.aboutBox .about-inner .content .titleBox {
  flex: 1;
  font-weight: 900;
}
.aboutBox .about-inner .content .titleBox .subtitle {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: #975a3c;
  line-height: 1.2;
}
.aboutBox .about-inner .content .titleBox .title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.aboutBox .about-inner .content .textBox {
  flex: 1;
  font-weight: 500;
  line-height: 1.6;
}
.aboutBox .about-inner .content .textBox .textTw {
  font-size: 16px;
}
.aboutBox .about-inner .content .textBox .textEN {
  font-size: 14px;
  margin-top: 10px;
}

.showCase {
  padding-block: 100px;
  background: #fffaf3;
}
.showCase .showCase-inner {
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: clamp(20px, 3vw, 30px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.showCase .intro {
  grid-area: 1/1/2/3;
  padding-right: 150px;
  color: #975a3c;
  border-right: 1px solid rgba(51, 51, 51, 0.4);
  border-bottom: 1px solid rgba(51, 51, 51, 0.4);
}
.showCase .intro .titleBox {
  margin-bottom: 10px;
}
.showCase .intro .titleBox .subtitle {
  font-size: 26px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.showCase .intro .titleBox .title {
  margin: 0;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.showCase .intro .titleBox .text {
  font-size: 16px;
  margin-top: 20px;
  color: #3c3c3c;
  letter-spacing: 0.5px;
}
.showCase .intro .tel {
  font-size: 26px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
}
.showCase .intro .btnArea {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.showCase .intro .btnArea .btn {
  cursor: pointer;
}
.showCase .intro .btnArea .btn a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 30px;
  background: #282828;
  color: #ffffff;
  font-size: 13px;
  font-weight: 900;
  min-width: 240px;
  height: 50px;
  z-index: 1;
  overflow: hidden;
}
.showCase .intro .btnArea .btn a::before {
  position: absolute;
  content: "";
  background-color: #975a3c;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}
.showCase .intro .btnArea .btn a::after {
  content: "";
  position: absolute;
  background-image: url(/assets/images/arrow_btn.png);
  background-repeat: no-repeat;
  top: calc(50% - 5px);
  right: 30px;
  width: 16px;
  height: 10px;
  transition: transform 0.6s ease;
}
.showCase .intro .btnArea .btn:hover a::before {
  transform: translateX(0%);
}
.showCase .intro .btnArea .btn:hover a::after {
  transform: translateX(10px);
}
.showCase .productBig figure,
.showCase .product figure {
  margin: 16px;
}
.showCase .productBig .card,
.showCase .product .card {
  position: relative;
  cursor: pointer;
}
.showCase .productBig .card .img,
.showCase .product .card .img {
  padding: 16px;
}
.showCase .productBig .card .img img,
.showCase .product .card .img img {
  object-fit: cover;
}
.showCase .productBig .card .txt,
.showCase .product .card .txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 28px;
}
.showCase .productBig .card .txt .title,
.showCase .product .card .txt .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  font-family: "Noto Sans TC";
  font-weight: 100 900;
  transition: color 0.8s ease;
}
.showCase .productBig .card .txt .title a,
.showCase .product .card .txt .title a {
  letter-spacing: 1px;
}
.showCase .productBig .card .txt .subtitle,
.showCase .product .card .txt .subtitle {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.showCase .productBig .card .txt em,
.showCase .product .card .txt em {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 13px;
  font-family: "Noto Sans TC";
}
.showCase .productBig .card:hover .img,
.showCase .product .card:hover .img {
  animation: shockAni 0.6s ease-in-out infinite;
}
.showCase .productBig .card:hover .title,
.showCase .product .card:hover .title {
  color: #975a3c;
}
@keyframes shockAni {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.showCase .productBig {
  grid-area: 2/1/4/3;
  border-right: 1px solid rgba(51, 51, 51, 0.4);
}
.showCase .product {
  grid-area: 1/3/4/5;
}
.showCase .product .product-inner {
  display: flex;
  flex-wrap: wrap;
}
.showCase .product .product-inner .card {
  flex: 0 0 50%;
}
.showCase .product .product-inner .card:nth-child(4n+1),
.showCase .product .product-inner .card:nth-child(4n+4) {
  background-color: #fff1df;
}

.advantage {
  padding-block: 80px 35px;
  color: #ffffff;
  background-color: #975a3c;
}
.advantage .advantage-inner {
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: clamp(20px, 3vw, 35px);
  display: flex;
}
.advantage .titleBox {
  flex: 0 0 50%;
  padding-right: 50px;
}
.advantage .titleBox .title {
  font-family: "Inter", sans-serif;
  font-size: 52px;
}
.advantage .titleBox .subtitle {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
}
.advantage .titleBox .text {
  line-height: 1.6;
  letter-spacing: 0.8px;
  position: relative;
  margin-top: 20px;
  padding-top: 30px;
  padding-right: 120px;
}
.advantage .titleBox .text::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 60px;
  height: 1px;
  top: 0;
  left: 0;
}
.advantage .dataBOx {
  flex: 0 0 50%;
  display: flex;
  gap: 20px;
  margin-left: 100px;
}
.advantage .dataBOx .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}
.advantage .dataBOx .item .img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid #ffe7c8;
  width: 150px;
  height: 150px;
  aspect-ratio: 1/1;
  margin: 0px;
  transform: translateY(0px);
  transition: transform 0.5s ease-in-out;
}
.advantage .dataBOx .item .img img {
  display: block;
  padding: 40px;
  object-fit: cover;
}
.advantage .dataBOx .item .img .circle {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 3px solid #ffe7c8;
  bottom: -13.5px;
  border-radius: 50%;
  background-color: #975a3c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage .dataBOx .item .img .circle::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background-color: #ffe7c8;
  border-radius: 50%;
}
.advantage .dataBOx .item .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-block: 20px;
  color: #ffe7c8;
}
.advantage .dataBOx .item .txt::before {
  content: "";
  display: block;
  width: 2px;
  height: 27px;
  background-image: url(/assets/images/dotted_line.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.advantage .dataBOx .item .txt .title {
  margin-top: 5px;
  font-family: "Inter", sans-serif;
}
.advantage .dataBOx .item .txt .textEditor {
  font-size: 13px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.advantage .dataBOx .item:hover .img {
  transform: translateY(-20px);
}
.advantage .dataBOx .item:hover .img .circle::after {
  animation: circleAni 1s ease-in-out infinite;
}
@keyframes circleAni {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(5);
  }
}

/*# sourceMappingURL=index.css.map */
