/* .outerWrap{
  width: 100%;
} */
.hero {
  color: #ffffff;
}
.hero .hero-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 62.63% 37.37%;
}
.hero .titleBox {
  grid-area: 1/1/2/4;
  display: flex;
  padding-top: 100px;
  padding-left: 50px;
  background-image: url(../images/banner-top.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .titleBox .titleBox-inner {
  max-width: 320px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .titleBox .subtitle {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.8;
}
.hero .titleBox .title {
  margin-top: 4px;
  font-size: 45px;
  font-weight: 900;
}
.hero .titleBox .text {
  font-size: 24px;
  font-weight: 900;
}
.hero .carousel {
  grid-area: 2/1/3/4;
  position: relative;
  background-color: #975a3c;
  display: flex;
  justify-content: flex-end;
}
.hero .carousel img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
.hero .carousel .text {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
}
.hero .carousel .text .title {
  font-size: 22px;
  font-weight: bolder;
}
.hero .carousel .text .subtitle {
  font-size: 14px;
  font-weight: bold;
}
.hero .carousel .text .subtitle::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 15px 0;
}
.hero .carousel .text .model {
  margin-bottom: 28px;
  font-size: 13px;
  font-weight: bold;
}
.hero .bg {
  grid-area: 1/4/3/9;
}
.hero .bg .img img {
  display: block;
  object-fit: cover;
}

.aboutBox {
  padding-block: 95px;
  background-color: #ffe7c8;
}
.aboutBox .about-inner {
  padding-inline: clamp(20px, 3vw, 35px);
}
.aboutBox .about-inner .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  padding-bottom: 45px;
  margin-bottom: 45px;
}
.aboutBox .about-inner .top .titleBox {
  color: #975a3c;
  font-weight: bolder;
}
.aboutBox .about-inner .top .titleBox .subtitle {
  font-size: 52px;
}
.aboutBox .about-inner .top .titleBox .title {
  font-size: 28px;
  margin: 0;
}
.aboutBox .about-inner .top .btnAbout {
  position: relative;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 900;
}
.aboutBox .about-inner .top .btnAbout::after {
  content: "";
  width: 16px;
  height: 10px;
  right: 0;
  top: 0;
  background: url(/assets/images/arrow_btn.png);
  filter: brightness(0);
}
.aboutBox .about-inner .content {
  display: flex;
  justify-content: space-between;
  gap: 250px;
}
.aboutBox .about-inner .content .titleBox {
  flex: 1;
  font-weight: 900;
}
.aboutBox .about-inner .content .titleBox .subtitle {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #975a3c;
  line-height: 1.2;
}
.aboutBox .about-inner .content .titleBox .title {
  font-size: 20px;
}
.aboutBox .about-inner .content .textBox {
  flex: 1;
  font-weight: 500;
  line-height: 1.6;
}
.aboutBox .about-inner .content .textBox .textTw {
  font-size: 16px;
}
.aboutBox .about-inner .content .textBox .textEN {
  font-size: 14px;
  margin-top: 10px;
}

.showCase {
  padding-block: 100px;
  background: #fffaf3;
}
.showCase .showCase-inner {
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: clamp(20px, 3vw, 30px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.showCase .intro {
  grid-area: 1/1/2/3;
  padding-right: 150px;
  color: #975a3c;
}
.showCase .intro .titleBox {
  margin-bottom: 10px;
  font-size: 26px;
}
.showCase .intro .titleBox .title {
  margin: 0;
  font-size: 28px;
}
.showCase .intro .titleBox .text {
  font-size: 16px;
  margin-top: 20px;
  color: #3c3c3c;
}
.showCase .intro .tel {
  font-size: 26px;
}
.showCase .intro .btnArea {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}
.showCase .intro .btnArea .btn {
  cursor: pointer;
}
.showCase .intro .btnArea .btn a {
  padding: 10px 50px 10px 30px;
  background: #282828;
  color: #ffffff;
}
.showCase .productBig {
  grid-area: 2/1/4/3;
  background-color: #c0c0c0;
}
.showCase .product {
  grid-area: 1/3/4/5;
}
.showCase .product .product-inner {
  display: flex;
  flex-wrap: wrap;
}
.showCase .product .product-inner .card {
  flex: 0 0 50%;
  border: 1px solid;
}

/*# sourceMappingURL=index.css.map */
