* {
  box-sizing: border-box;
}

body {
  color: #222;
  background: #d1d1d1;
  margin: 0;
  font-family: "Microsoft JhengHei", "PingFang TC", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: 2px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header .header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  height: 80px;
  margin: 0 auto;
  padding-inline: clamp(20px, 3vw, 50px);
  transition: background-color 0.6s ease 0.1s, padding 0.8s ease-in-out 0.1s;
  color: #fff;
}
.header .header-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #975a3c;
  z-index: -1;
  transition: height 0.3s ease;
}
.header .header-inner::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  height: 1px;
  width: 100%;
  z-index: -2;
}
.header .header-inner.is-scrolled::after {
  height: 100%;
}
.header .logo {
  font-size: 30px;
  font-weight: 600;
}
.header .rightBox {
  height: 100%;
}
.header .rightBox .menuToggler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #975a3c;
  background-color: #f5d09f;
  font-size: 15px;
  font-weight: 800;
  width: 144px;
  height: 80px;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
}
.header .rightBox .menuToggler .text {
  display: block;
}
.header .rightBox .menuToggler .text.close {
  display: none;
}
.header .rightBox .menuToggler .line {
  position: relative;
  width: 30px;
  height: 8px;
}
.header .rightBox .menuToggler .line::after, .header .rightBox .menuToggler .line::before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #975a3c;
  transition: transform 0.2s;
}
.header .rightBox .menuToggler .line::before {
  top: 0;
}
.header .rightBox .menuToggler .line::after {
  bottom: 0;
}
.header .rightBox .menuToggler.is-open .text {
  display: none;
}
.header .rightBox .menuToggler.is-open .text.close {
  display: inline-block;
}
.header .rightBox .menuToggler.is-open .line::before {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .rightBox .menuToggler.is-open .line::after {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.header .header-inner.is-scrolled {
  padding-inline: 50px;
}

.footer {
  background-color: #282828;
  color: #fff;
  padding-block: 100px;
}
.footer .footer-inner {
  max-width: 1310px;
  padding-inline: clamp(20px, 2vw, 35px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.footer .top {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.footer .top .logo {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.footer .footerMenuBox .footerMenu {
  display: flex;
  gap: 16px;
  font-weight: 600;
}
.footer .footerMenuBox .footerMenu .menuItem {
  position: relative;
  transition: color 0.8s ease;
  cursor: pointer;
}
.footer .footerMenuBox .footerMenu .menuItem span {
  padding-right: 16px;
  position: relative;
}
@media (hover: hover) {
  .footer .footerMenuBox .footerMenu .menuItem:hover {
    color: #f5d09f;
  }
}
.footer .footerMenuBox .footerMenu .menuItem:not(:last-child) span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 90%;
  background-color: #fff;
}
.footer .footerInfo {
  font-size: 28px;
  font-style: normal;
}
.footer .footerInfo .tel {
  display: flex;
  margin-bottom: 50px;
}
.footer .footerInfo .tel .infoTitle {
  padding-right: 10px;
  margin-right: 10px;
  position: relative;
}
.footer .footerInfo .tel .infoTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 50%;
  background-color: #fff;
}
.footer .footerInfo .tel a {
  transition: color 0.8s ease;
  cursor: pointer;
}
@media (hover: hover) {
  .footer .footerInfo .tel a:hover {
    color: #f5d09f;
  }
}
.footer .footerInfo .infoList {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .footerInfo .infoList .infoItem {
  flex: 0 0 33%;
  display: grid;
  gap: 20px;
  font-size: 14px;
  padding: 40px 0 30px;
}
.footer .copyrightBox {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #aaaaaa;
  font-size: 14px;
}
.footer .copyrightBox .copyright p {
  display: flex;
  gap: 4px;
}
.footer .copyrightBox .ibestLink {
  display: flex;
  gap: 4px;
}

/* .outerWrap{
  width: 100%;
} */
.hero {
  color: #ffffff;
}
.hero .hero-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 62.63% 37.37%;
}
.hero .titleBox {
  grid-area: 1/1/2/4;
  display: flex;
  padding-top: 100px;
  padding-left: 50px;
  background-image: url(../images/banner-top.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .titleBox .titleBox-inner {
  max-width: 255px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .titleBox .subtitle {
  font-size: 15px;
  font-weight: 600;
}
.hero .titleBox .title {
  margin-top: 4px;
  font-size: 45px;
  font-weight: 900;
}
.hero .titleBox .text {
  font-size: 24px;
  font-weight: 900;
}
.hero .carousel {
  grid-area: 2/1/3/4;
  position: relative;
  background-color: #975a3c;
  display: flex;
  justify-content: flex-end;
}
.hero .carousel img {
  object-fit: cover;
  border: 1px solid;
  height: 200px;
  width: 200px;
}
.hero .carousel .text {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
}
.hero .carousel .text .title {
  font-size: 22px;
  font-weight: bolder;
}
.hero .carousel .text .subtitle {
  font-size: 14px;
  font-weight: bold;
}
.hero .carousel .text .subtitle::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 15px 0;
}
.hero .carousel .text .model {
  margin-bottom: 28px;
  font-size: 13px;
  font-weight: bold;
}
.hero .bg {
  grid-area: 1/4/3/9;
}
.hero .bg .img img {
  display: block;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
